extend ./header.pug

block content
            div(class = 'container m-auto text-center mt-5 mb-3')
                img(src="./img/logo.png" style = "max-width : 300px;", alt="asdfasdf", srcset="")
                div(class = 'container m-auto mt-3 ')
                    a(class = 'btn btn-primary m-3 ' href = '/register') Register
                    a(class = 'btn btn-primary m-3 ' href = '/login') Login