extend ./header.pug

block content
            div(class = 'container m-auto text-center mt-5 mb-3')
                img(src="https://res.cloudinary.com/dm69tqg8z/image/upload/v1649259483/logo_dfccwd.png" style = "max-width : 300px;", alt="asdfasdf", srcset="")
                div(class = 'container m-auto mt-3 ')
                    a(class = 'btn btn-primary m-3 ' href = '/partner/apis/register') Register
                    a(class = 'btn btn-primary m-3 ' href = '/partner/apis/login') Login